@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap");
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a a:visited {
  color: white;
}

img {
  width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Alata', sans-serif;
  font-size: 0.94em;
}

.text-center {
  text-align: center;
}

.section-title {
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 300;
  font-size: 2.75em;
  text-transform: uppercase;
}

.creation-title {
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 100;
  font-size: 1.75em;
  text-transform: uppercase;
}

.nav-menu-tabs {
  font-family: 'Josefin Sans',sans-serif;
  font-size: 1.75em;
  text-transform: uppercase;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.hamburger .line {
  width: 27px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: .4em auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.hero-container .hero-image {
  background: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  height: 120vh;
  background-repeat: no-repeat;
  padding: 4em 1em 1em 1em;
  margin-bottom: 2em;
}

.hero-container header {
  padding: 1em .5em;
}

.hero-container #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 0em 10em 0em;
}

.hero-container #nav ul.web-nav {
  display: none;
}

.hero-container #nav ul.web-nav li {
  padding: 0em 1em;
}

.hero-container #nav ul.web-nav li a, .hero-container #nav ul.web-nav li .hvr-underline {
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-container #nav ul.web-nav .hvr-underline:hover {
  /* The following line makes the underline only as wide as the text */
  /* background-size: calc(100% - 2em) 5px, auto; */
  background-size: 100% 5px, auto;
}

.hero-container #nav .logo {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-container #nav .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-container .hero {
  padding: 2em 1em;
  border: 3px solid white;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(240, 145, 21, 0.5)), to(rgba(121, 9, 99, 0.451155)));
  background: linear-gradient(90deg, rgba(240, 145, 21, 0.5) 0%, rgba(121, 9, 99, 0.451155) 100%);
  background-size: 0 100%, auto;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: default;
  font-family: 'Alata',sans-serif;
}

.hero-container .hero h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3.75em;
}

.hero-container .hero:hover {
  background-size: 100% 100%,auto;
}

.overlay {
  background: #131313;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  color: white;
  -webkit-transition: 0.5 ease-in-out forwards;
  transition: 0.5 ease-in-out forwards;
}

.overlay .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8em .5em 0em .5em;
}

.overlay .mobile-menu ul li {
  padding-top: 1em;
}

.about {
  padding: 5em 2em;
  margin: 5em 0em 4em 0em;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.about .section-container {
  display: -ms-grid;
  display: grid;
  position: relative;
  padding: 1em 1em;
}

.about .section-container .img-container {
  padding: 1em 1em;
}

.about .about-desc {
  padding: 2em 2em;
  margin-top: 2em;
  background: white;
}

.about .about-desc p {
  margin-top: 1.5em;
  color: #8c8c8c;
  line-height: 2em;
  font-family: 'Alata',sans-serif;
  padding: 0em 2em;
}

.img-gradient {
  position: relative;
  display: inline-block;
}

.img-gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 99%;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(0, 0, 0, 0.83771)), color-stop(48%, rgba(255, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.83771) 8%, rgba(255, 0, 0, 0) 48%);
}

.creations {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  place-content: center;
  padding: 3em;
}

.creations .creation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 0em;
}

.creations .creation-container .creation-item {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  position: relative;
}

.creations .creation-container .creation-item .title-holder {
  position: absolute;
  bottom: 8px;
  left: 16px;
  padding: 1em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% auto;
      grid-template-columns: 55% auto;
}

.creations .creation-container .creation-item .title-holder p {
  color: white;
}

.creations .creation-container .creation-item img {
  max-width: 90vw;
}

.creations .creation-container .creation-item img.earth {
  content: url("/images/mobile/image-deep-earth.jpg");
}

.creations .creation-container .creation-item img.curiosity {
  content: url("/images/mobile/image-curiosity.jpg");
}

.creations .creation-container .creation-item img.fisheye {
  content: url("/images/mobile/image-fisheye.jpg");
}

.creations .creation-container .creation-item img.above {
  content: url("/images/mobile/image-from-above.jpg");
}

.creations .creation-container .creation-item img.the-grid {
  content: url("/images/mobile/image-grid.jpg");
}

.creations .creation-container .creation-item img.arcade {
  content: url("/images/mobile/image-night-arcade.jpg");
}

.creations .creation-container .creation-item img.borealis {
  content: url("/images/mobile/image-pocket-borealis.jpg");
}

.creations .creation-container .creation-item img.soccer {
  content: url("/images/mobile/image-soccer-team.jpg");
}

.see-all {
  padding: 1em 3.5em;
  background: white;
  border: black solid;
  font-family: 'Alata',sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 400;
  cursor: pointer;
  max-width: 300px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.see-all.web {
  display: none;
}

.see-all:hover {
  color: white;
  background: black;
}

footer {
  background: #131313;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em;
}

footer .links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0em .5em 0em;
}

footer p {
  text-align: center;
  margin-top: .5em;
}

footer .social-container {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-container a {
  padding: 4em .75em 0em;
}

@media only screen and (min-width: 1080px) {
  .hero-container .hero-image {
    background: url("../images/desktop/image-hero.jpg"), purple;
    background-size: cover;
    height: 120vh;
    background-repeat: no-repeat;
    padding: 4em 1em 1em 1em;
    margin-bottom: 2em;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
  }
  .hero-container .hero-image:hover {
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    -webkit-animation: aberration 3s  ease-in-out infinite;
            animation: aberration 3s  ease-in-out infinite;
  }
  .hero-container header {
    padding: 2em 4em;
  }
  .hero-container #nav #hamburger-1 {
    display: none;
  }
  .hero-container #nav ul.web-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-container .content {
    padding: 0em 4.5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
  }
  .hero-container .content .hero {
    padding: 1em 2em;
    font-size: 1.5em;
    line-height: 1.075;
  }
  .about {
    display: -ms-grid;
    display: grid;
    padding: 1em 9em;
  }
  .about .section-container {
    display: inherit;
    -ms-grid-columns: 50% 1fr;
        grid-template-columns: 50% 1fr;
    position: relative;
  }
  .about .section-container .img-container {
    display: inherit;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 12;
    z-index: 0;
  }
  .about .section-container .img-container img {
    content: url("../images/desktop/image-interactive.jpg");
  }
  .about .section-container .about-desc {
    display: inherit;
    grid-column: -1;
    -ms-grid-row: 1;
    grid-row: 1;
    grid-area: 6/2/15/-1;
    margin-left: -50px;
    z-index: 1;
  }
  .creations {
    display: inline-block;
    padding: 2em 2em;
  }
  .creations .section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0em 4em;
  }
  .creations .creation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4em 3em;
  }
  .creations .creation-container .creation-item {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    position: relative;
    padding: .5em 0em;
  }
  .creations .creation-container .creation-item .title-holder {
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding: 1em 1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
  }
  .creations .creation-container .creation-item .title-holder p {
    color: white;
  }
  .creations .creation-container .creation-item img {
    max-width: 90vw;
  }
  .creations .creation-container .creation-item img.earth {
    content: url("/images/desktop/image-deep-earth.jpg");
  }
  .creations .creation-container .creation-item img.curiosity {
    content: url("/images/desktop/image-curiosity.jpg");
  }
  .creations .creation-container .creation-item img.fisheye {
    content: url("/images/desktop/image-fisheye.jpg");
  }
  .creations .creation-container .creation-item img.above {
    content: url("/images/desktop/image-from-above.jpg");
  }
  .creations .creation-container .creation-item img.the-grid {
    content: url("/images/desktop/image-grid.jpg");
  }
  .creations .creation-container .creation-item img.arcade {
    content: url("/images/desktop/image-night-arcade.jpg");
  }
  .creations .creation-container .creation-item img.borealis {
    content: url("/images/desktop/image-pocket-borealis.jpg");
  }
  .creations .creation-container .creation-item img.soccer {
    content: url("/images/desktop/image-soccer-team.jpg");
  }
  .img-gradient {
    position: relative;
    display: inline-block;
  }
  .img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 99%;
    display: inline-block;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(8%, rgba(0, 0, 0, 0.83771)), color-stop(48%, rgba(255, 0, 0, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.83771) 8%, rgba(255, 0, 0, 0) 48%);
  }
  .see-all {
    padding: 1em 3.5em;
    background: white;
    border: black solid;
    font-family: 'Alata',sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 400;
    cursor: pointer;
    max-width: 300px;
  }
  .see-all.web {
    display: initial;
  }
  .see-all.mobile {
    display: none;
  }
  @-webkit-keyframes aberration {
    0% {
      background-color: yellowgreen;
      background-blend-mode: multiply;
      opacity: 1;
    }
    25% {
      background-color: purple;
      background-blend-mode: multiply;
      opacity: 1;
    }
    50% {
      background-color: crimson;
      background-blend-mode: multiply;
      opacity: 1;
    }
    75% {
      background-color: indigo;
      background-blend-mode: multiply;
      opacity: 1;
    }
    100% {
      background-color: yellowgreen;
      background-blend-mode: multiply;
      opacity: 1;
    }
  }
  @keyframes aberration {
    0% {
      background-color: yellowgreen;
      background-blend-mode: multiply;
      opacity: 1;
    }
    25% {
      background-color: purple;
      background-blend-mode: multiply;
      opacity: 1;
    }
    50% {
      background-color: crimson;
      background-blend-mode: multiply;
      opacity: 1;
    }
    75% {
      background-color: indigo;
      background-blend-mode: multiply;
      opacity: 1;
    }
    100% {
      background-color: yellowgreen;
      background-blend-mode: multiply;
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=main.css.map */