@import 'variables';
@import 'globals';

@import 'hamburger';

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap');


.hero-container{
    .hero-image{
        background: url('../images/mobile/image-hero.jpg');
        background-size: cover;
        height:120vh;
        background-repeat: no-repeat;
        padding:4em 1em 1em 1em;
        margin-bottom: 2em;
    }
    header{
        padding:1em .5em;
    }
    
    
    #nav{
        display:flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        padding:0em 0em 10em 0em;
       ul.web-nav{
           display:none;
           li{
               padding:0em 1em;
              
            
            a, .hvr-underline{
                padding-bottom: 10px;
                background-image: linear-gradient(white, white);
                background-size: 0 5px, auto;
                background-repeat: no-repeat;
                background-position: center bottom;
                transition: all .5s ease-in-out;
            }
           }
           .hvr-underline:hover{
            /* The following line makes the underline only as wide as the text */
                /* background-size: calc(100% - 2em) 5px, auto; */
                background-size: 100% 5px, auto;
           }
       }

       .logo{
           transition: all .5s ease-in-out;
       }
       .logo:hover{
           transform:scale(1.1);
       }
       
    }

    .hero{
    padding:2em 1em;
    border: 3px solid white;
    color: white;
    background: linear-gradient(90deg, rgba(240, 145, 21, 0.5) 0%, rgba(121,9,99,0.4511554621848739) 100%);
    background-size: 0 100%, auto;
    background-repeat: no-repeat;
    background-position: left;    
    transition: all .5s ease-in-out;
    cursor: default;
    font-family: 'Alata',sans-serif;
    h1{
        font-weight: 300;
        text-transform: uppercase;
        font-size: $h1;
    }
    
    }
    .hero:hover{
       background-size: 100% 100%,auto;     
       
    }
}


.overlay{
    background: #131313;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    display:none;
    color:white;
    transition: 0.5 ease-in-out forwards;
    .mobile-menu{
        display:flex;
       padding:8em .5em 0em .5em;
        ul li{
            padding-top: 1em;
        }
    }
}


.about{
    padding:5em 2em;
    margin:5em 0em 4em 0em;
    display: grid;
    place-content: center;
    .section-container{
        display:grid;
        position: relative;
        padding:1em 1em;
        .img-container{
            padding: 1em 1em;
            
        }
    }
    
    .about-desc{
    padding:2em 2em;
    margin-top: 2em;
    background: white;
    p{
        margin-top: 1.5em;
        color:$dark-gray;
        line-height: 2em;
        font-family: 'Alata',sans-serif;
        padding:0em 2em;
    }
    }
}

.img-gradient{
    position:relative;
    display:inline-block;
  }
  .img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:99%;
    display:inline-block;
    background: linear-gradient(90deg, rgba(0,0,0,0.8377100840336135) 8%, rgba(255,0,0,0) 48%);
  }      

.creations{
    display: grid;
    justify-items: center;
    place-content: center;
    padding:3em;
    
    .creation-container{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 4em 0em;
    .creation-item{
        flex:25%;
        position: relative;
        
       .title-holder{
           position: absolute;
           bottom: 8px;
           left: 16px;
           padding:1em 1em;
           display: grid;
           grid-template-columns: 55% auto;
           p{
               color:white;
           }
       }
       
        img{
        max-width: 90vw;
        
            &.earth{
                content:url('/images/mobile/image-deep-earth.jpg');
            }
            
            &.curiosity{
                content:url('/images/mobile/image-curiosity.jpg');
            }
            &.fisheye{
                content:url('/images/mobile/image-fisheye.jpg');
            }
            &.above{
                content:url('/images/mobile/image-from-above.jpg');
            }
            &.the-grid{
                content:url('/images/mobile/image-grid.jpg');
            }
            &.arcade{
                content:url('/images/mobile/image-night-arcade.jpg');
            }
            &.borealis{
                content:url('/images/mobile/image-pocket-borealis.jpg');
            }
            &.soccer{
                content:url('/images/mobile/image-soccer-team.jpg');
            }
            
            
        }
        
    }
    }
}
.see-all{
padding:1em 3.5em;
background: white;
border: black solid;
font-family: 'Alata',sans-serif;
text-transform: uppercase;
letter-spacing: 7px;
font-weight: 400;
cursor: pointer;
max-width: 300px;
transition: all .5s ease-in-out;
    &.web{
        display: none;
    }
}

.see-all:hover{
    color:white;
    background:black;
    
}
   
footer{
    background: #131313;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:4em;
   .links li{
       display: flex;
       justify-content: center;
       padding:2em 0em .5em 0em;
   }
   p{
       text-align: center;
       margin-top: .5em;
   }

   .social-container{
       padding:1em;
       display: flex;
       align-items: center;
    a{
        padding:4em .75em 0em;
    }
   }
}

@import 'queries';